html {
  font-family: Helvetica;
  text-align: center;
  align-items: center;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2 {
font-weight: bold;
font-size: 32px;
}

h3 {
  font-weight: bold;
  font-size: 23px;
}

h4 {
  font-size: 23px;
  font-weight: bold;
  color: white;
}

p {
  font-size: 14px
}

.head {
  background-image: url("../images/the-flatiron-building.png");
}

.newyork {
  background-image: url("../images/the-flatiron-building.png");
}

.footer {
  background-color: dimgray;
      text-align: left;
}

li {
  list-style-type: none;
  font-size: 18px;
  color: white;
}

.footer ol, .footer li {
    display: inline;
    font-size: 11px;
    color: white;
    text-align: left;
    padding: 0px:
}

a {
    color: white;
}
